# misc files
/.vscode
*.asv

# Matlab coder files
Util_Scripts/codegen
*.prj

# Input files
/Input

# Sniper output directory
/Sniper_Out

# Executables
driver_poisson
MPI_driver_poisson
driver_input
driver_spmv_input
test
driver_sniper
calc_stats